.cpu-bars-container {
    height: 15px;
    transform: translate(0,0);
    display: flex;
    gap: 2px;
    flex-direction: row
}

.cpu-bar {
    height: 100%;
    transform: translate(0,0);
}

.cpu-bar-unused {
    background-color: #C8C8C8;
}

.cpu-bar-host {
    background-color: #E7CC00FF;
}

.cpu-bar-cpu {
    background-color: #666;
}

@media (prefers-color-scheme: dark) {
    .cpu-bar-unused {
        background-color: #666;
    }
    .cpu-bar-host {
        background-color: #e0c651;
    }
    .cpu-bar-cpu {
        background-color: #FFF;
    }
}

:focus{
    /* remove ugly outline from blueprint (looks only good for blueprint components)*/
    outline:initial !important;
}

.electrifiedFormLabel {
    padding-right: 10px;
    white-space: nowrap;
}

.electrifiedDialogSpacer {
    width: 25px;
}

.utilInfoTooltip {
    display: inline-block !important;
    cursor: pointer;
}

.bp6-toast {
    max-width: 100% !important; /* remove limitation */
}

.whenLight {
    display: initial;
}
.whenDark {
    display: none;
}

@media (prefers-color-scheme: dark) {
    .whenLight {
        display: none;
    }
    .whenDark {
        display: initial;
    }
}

/*
 All hovered / seleted bars are gray (instead of blue) in electrified:
*/
@media (prefers-color-scheme: light) {
    .x-grid-item-selected, .x-column-header-selected, .x-column-header-sort-ASC, .x-column-header-sort-DESC {
        background-color: #cfcfcf !important;
    }

    .x-grid-item-over, .x-column-header-over {
        background-color: #eeeeee !important;
    }




    .x-treelist-row-over {
        background-color: #eeeeee !important;
    }
}

.treeRow-row-contextMenu {
    outline: 1px solid #767171;
}

.electrified_hide_while_initializing {
    visibility: hidden;
}