.cpu-bars-container {
    height: 15px;
    transform: translate(0,0);
    display: flex;
    gap: 2px;
    flex-direction: row
}

.cpu-bar {
    width: 4px;
    height: 100%;
    transform: translate(0,0);
}

.cpu-bar-unused {
    background-color: #C8C8C8;
}

.cpu-bar-host {
    background-color: #E7CC00FF;
}

.cpu-bar-cpu {
    background-color: #666;
}

@media (prefers-color-scheme: dark) {
    .cpu-bar-unused {
        background-color: #666;
    }
    .cpu-bar-host {
        background-color: #e0c651;
    }
    .cpu-bar-cpu {
        background-color: #FFF;
    }
}

:focus{
    /* remove ugly outline from blueprint (looks only good for blueprint components)*/
    outline:initial !important;
}